services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: cbt_test
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ../databases/migration/17-Des-2025-Data.sql:/docker-entrypoint-initdb.d/data.sql
      - ../databases/seed/seed.sql:/docker-entrypoint-initdb.d/seed.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data: